<footer>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <h1>Customer Service</h1>
      <br />
      <ul>
        <li>My account</li>
        <li>Order History</li>
        <li>FQA</li>
        <li>Specials</li>
        <li>Help Center</li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Categorys</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Follow Us</h1>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
<mat-toolbar color="">
  <span style="text-align: center; width: 100%">© 2019 Chung Le. All Rights Reserved.</span>
</mat-toolbar>
